<%= @seminar.title %>
<%= @seminar.starts_at.strftime('%Y/%m/%d') %>
<span>~</span></span>
<%= @seminar.ends_at.strftime('%Y/%m/%d') %>
<%= render 'seminars/deadline' %>
<%= link_to "編集", edit_seminar_path %>
<%= link_to '削除', seminar_path(@seminar), method: :delete, data: { confirm: '本当に消しますか？' } %>


<div class="comments">
<% @seminar.post_comments.each do |post_comment| %>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
  <%= post_comment.report %>
  <%= post_comment.comment %>
   <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", seminar_post_comment_path(post_comment.seminar, post_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@seminar, @post_comment], local: true) do |f| %>
  <%= f.select :report, [['できた', 'できた'], ['できなかった', 'できなかった']], { include_blank: "選択して下さい"} %>
  <%= f.text_area :comment, rows:'5',placeholder: "1日の振り返り" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
